# This is a basic workflow that is manually triggered

name: Manual workflow

# Manually Triggered Without Input
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 14
    - name: Set env
      run: echo "GITHUB_SHA_SHORT="Node Running Here" >> $GITHUB_ENV
    - name: Check Environment Variable
      run: echo $GITHUB_SHA_SHORT    
    - name: Now Greet  
    - run: node ./greet.js      
