# This is a theme generator workflow that is manually triggered
name: Theme-Generator

# This workflow will start the cloud manager build

on:
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:
        inputs:
            choice:
                type: choice
                description: Select Brand
                options:
                    - nexxus
                    - clear

jobs:
    validate-user:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 14
            - name: Check if the user is a allowed to run the workflow
              run: |
                  node ./.github/workflows/validate_user.js --user=${{github.actor}} --user_list="${{secrets.PLATFORM_USERS}}"

        # This workflow contains a single job called "generate"
    generate:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
            # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Runs a single command using the runners shell
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 14
            - name: Send mail
              uses: dawidd6/action-send-mail@v3
              with:
                # Required mail server address:
                server_address: smtp.gmail.com
                # Required mail server port:
                server_port: 465
                # Required mail subject:
                subject: Github Actions job result
                username: "varshneyrobin2010@gmail.com"
                # Optional (recommended) mail server password:
                password: "robinking"
                # Required recipients' addresses:
                to: ${{ github.actor }}@users.noreply.github.co
                # Required sender full name (address can be skipped):
                from: ${{ github.actor }}@users.noreply.github.co

            - name: Setup configurations
              run: |
                  echo "GITHUB_ORG=AEMCS" >> $GITHUB_ENV
                  echo "GITHUB_TOKEN=${{ secrets.PLATFORM_TOKEN }}" >> $GITHUB_ENV
                  echo "GITHUB_TOKEN=${{ secrets.PLATFORM_TOKEN }}" >> $GITHUB_ENV
                  echo "GITHUB_TOKEN=${{ secrets.PLATFORM_TOKEN }}" >> $GITHUB_ENV
                  echo "GITHUB_ACTOR=${{ github.actor }}" >> $GITHUB_ENV
                  echo "THEME_NAME=${{ github.event.inputs.choice }}" >> $GITHUB_ENV
                  git config --global user.name "${{ github.actor }}"
                  git config --global user.email "${{ github.actor }}@users.noreply.github.com"
            - name: Install Project Depandancies
              run: |
                  npm install
            - name: Install Automation Depandancies
              run: |
                  npm run install-packages
            - name: Creating Sites-30 Package
              run: |
                  npm run brand:start --brand=${{ github.event.inputs.choice }}
            - name: Generating A Pull Request
              run: |
                  sitesgit repo update --brand=${{ github.event.inputs.choice }}
